<%= @menu.name %> <br>
<% @category.each do |cat| %>
  <ul>
    <%= cat.category_name %>
    <% cat.dishes.each do |dish| %> <br>
      <li>
        <%= dish[:name] %>
      </li>
    <% end %>
  </ul>
<% end %>
